@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* custom properties */

:root {
    --ff-primary: 'Albert Sans', sans-serif;;
    --ff-secondary: monospace;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-bold: 800;

    --clr-light: #fdfbf7;
    --clr-dark: #13001a;
    --clr-accent: #d8cee4;
    --clr-accent-highlight: #b09dc8;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
}

@media (min-width: 750px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(var(--fs-body));
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
    box-shadow: var(--bs);
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 3em 0.5em;
}

.text-container {
    display: grid;
    text-align: center;
    align-items: center;
}

.text-p {
    justify-self: center;
    max-width: 500px;
}

.btn {
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    font-weight: var(--fw-bold);
    letter-spacing: .08rem;
    padding: 0.5em 1.5em;
    transition: 0.35s;
}

.btn:hover,
.btn:focus {
    scale: 1.1;
    background: var(--clr-accent-highlight);
}

@media (min-width: 750px) {
    .text-container {
        text-align: left;
    }

    .text-p {
        padding-left: 2rem;
        justify-self: left;
        margin-bottom: 0;
        max-width: 700px;
    }
}

/* Typography */

h1,
h2,
h3,
.subtitle {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.subtitle {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    font-size: 1.8rem;
    padding: .5em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0.3em 0;
}

.h1-span {
    font-weight: var(--fw-light);
}

/* header */

header {
    position: sticky;
    top: 0;
    background: var(--clr-accent);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
}

.logo {
    margin: 0 4em 0 1em;
}

.nav-small, nav-big {
    padding: 2em 0;
    position: fixed;
    background: var(--clr-dark);
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-small {
    transform: translateX(100%)
}

.nav-list {
    list-style: none;
    padding: 0;
    font-size: 1.3rem;
}

.nav-item,
.nav-list a {
    transition: .35s;
}

.nav-item {
    margin: 1em;
}

.nav-list a:hover,
.nav-list a:focus {
    color: var(--clr-accent)
}

.nav-list a {
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: var(--clr-light);
}

/* menu opening and closing styles */
.nav-toggle {
    background: none;
    border: none;
    display: block;
    z-index: 1000;
    min-width: 20px;
    min-height: 20px;
}

.hamburger {
    display: block;
    position: relative;
    cursor: pointer;
}

.nav-open {
    transform: translateX(0%);
}

.hamburger-open {
    transform: rotate(.625turn);
}

.hamburger-open::before {
    transform: rotate(90deg) translateX(-6px);
}

.hamburger-open::after {
    opacity: 0;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-light);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 0.25s ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

@media (min-width: 750px) {
    .nav-toggle {
      display: none;
    }

    .nav {
      position: relative;
      background: none;
      width: auto;
      padding: 0;
    }

    .nav-list {
        display: flex;
    }

    .nav-list li {
      margin: 0;
    }

    .nav-list a {
        color: var(--clr-dark);
        margin: 0 1.5em;
    }

    .nav-list a:hover,
    .nav-list a:focus {
        color: var(--clr-dark);
    }

    .nav-item:hover {
        scale: 1.1;
    }
}

/* Intro */

.intro-container {
    display: grid;
    align-content: center;
    text-align: center;
    margin-top: 2em;
    padding: 0;
}

.intro-img {
    width: 80%;
    margin: 1.5em auto;
}

@media (min-width: 750px) {
    .intro-container {
        text-align: right;
        grid-template: repeat(2, 1fr) / 50% 50%;
        align-items: start;
    }

    h1 {
        align-self: end;
    }

    .h1-subtitle {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
        text-align: right;
    }

    .intro-img {
        position: relative;
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }
}

/* Skills */

.skills {
    background: var(--clr-dark);
    color: var(--clr-light);
}

.skills-container {
    display: grid;
    align-items: center;
    justify-items: center;
}

.skills-header {
    color: var(--clr-accent)
}

.skill {
    margin: 1em 1.5em;
    max-width: 500px;
}

@media (min-width: 750px) {
    .skills {
        /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/services-bg.jpg'); */
        background-size: cover;
    }
}

@media (min-width: 950px) {
    .skills-container {
        grid-template: 80px 1fr 80px / repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            ". . ."
            "button button button";
        align-items: flex-start;
    }

    .skills-header {
        grid-area: header;
    }

    .see-projects-btn {
        grid-area: button;
    }
}

/* about me */

.about-overview-container {
    display: grid;
    text-align: center;
    align-items: center;
}

.about-overview-subtitle {
    font-size: 1.3rem;
}

.about-overview-img {
    width: 60%;
    margin: 2em auto;
}

#more-about-btn {
    justify-self: center;
    margin: 1.5em 2em;
}

@media (min-width: 750px) {
    .about-container,
    .about-overview-container {
        text-align: left;
    }

    .about-overview-container {
        grid-template: 80px 80px auto auto auto / 1fr 40%;
    }

    .about-overview-subtitle {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        padding-right: 20rem;
    }

    .about-overview-img {
        width: 80%;
        grid-column: -2 / -1;
        grid-row: 1 / -1;
        align-self: start;
    }

    .about-overview-header,
    .about-overview-subtitle {
        padding-left: 2rem;
    }

    #more-about-btn {
        justify-self: left;
    }
}

/* my projects */

.projects {
    background: var(--clr-dark);
    color: var(--clr-light);
}

.projects-container {
    margin-bottom: 0;
    padding: 3em 0;
}

.projects-header {
    color: var(--clr-accent);
}

.projects-note {
    margin: 1em auto;
    max-width: 500px;
}

.portfolio {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 2em;
}

.project-header {
    margin-top: 0.5em;
}

a {
    text-decoration: none;
    color: white;
}

.project-card-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform .5s;
}

.img-wrapper {
    overflow: hidden;
}

.project-card-img:hover {
    transform: scale(1.2);

}


/* project page */

.project-container {
    text-align: left;
}

.project-p {
    max-width: 800px;
    margin-left: 2rem;
}

.project-img {
    margin: 2em auto;
}

/* footer */

.footer {
    background: var(--clr-accent);
    color: var(--clr-dark);
    padding: 2em 0;
    text-align: center;
    line-height: 1;
}

.footer-link {
    color: var(--clr-dark);
    text-decoration: none;
    font-weight: var(--fw-reg);
    font-size: 1em;
    margin: .5em 0;
}

.footer-link:hover,
.footer-link:focus {
    text-decoration: underline;
}

.socials-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.social {
    margin: .5em;
    width: 25px;
    height: 25px;
    transition: .35s;
}

.social:hover,
.social:focus {
    scale: 1.2;
}

.social img {
    box-shadow: none;
}