.container {
  position: sticky;
  top: 0;
  background-color: var(--color-accent);
  padding: 0.5em 0.15em;
}

.wrapper {
  margin: 0 auto;
  max-width: var(--width-wide);
}

.logo {
  height: 35px;
  width: 35px;
}
